
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    overflow-x: hidden;
}
/* header section */
.navbar  {
    display: flex;
    width: 100%;
    overflow: hidden;
    background-color:rgba(0, 0, 0, 0.75);
    position: fixed;
    top:0;
    
}
nav {-
    float:right;
    justify-content: right;
    margin-right: 30px;

}
nav ul{
    display: flex;
    list-style: none;
    margin: 20px, 0px;
}

nav li {
    display: inline;
    font-weight: bold;

}
.navbar a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color:blue;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: all .5s ease;
  
}
.navbar a:hover
{
    color:red;
    transition: 0.4s;
    box-shadow: 0 0 10px rgb(228, 215, 215)  ;
}

/* middle section */
h1{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

#home{
    width: 100%;
    height: 840px;
    display: flex;
    flex-direction: column;
    background:url('pp.jpg') no-repeat center center/cover ;
    justify-content: center;
    align-items: center;
    color: #fff;

}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background:url('pp.jpg') no-repeat center center/cover ;
    width: 100%;
    z-index: -1;
    opacity: .8;

}
.home h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60%;
    left:20%;
    font-size: 40px;
    font-weight: bold;


}
/* .home #img1{
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 900px;
}  */
#
a:hover {
    color: rgb(106, 58, 58);
}
.about_me {
    width:100%;
    padding: 50px 0px;
    padding-top: 50px;
    margin-top: 250px;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.left {
    width: 30%;
   

}
.left img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: 40px;
}
.discription{
    width: 80%;
    /* display: flex;
    flex-direction: column; */
    box-shadow:  2px 2px 12px rgba(0,0,0,0.2);
    margin-bottom: 10px;
    width: 450px;
    height: 350px;
    align-items: center;
    text-align: justify;
    padding: 30px;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(128, 122, 122),white 50%);
    background-size: 100% 200%;
    transition: all .8s;
}
.discription:hover{
    background-position: left bottom;
    color: black    ;
    border: none;
    box-shadow: 0 0 20px rgb(49, 48, 48);

}
.discribe{
    display: flex;
    flex-direction: column;
    width:50%;
    

}
.choose {
    width: 80%;
    /* display: flex;
    flex-direction: column; */
    box-shadow:  2px 2px 12px rgba(0,0,0,0.2);
    /* margin: 10px; */
    width: 450px;
    height: 250px;
    align-items: center;
    text-align: justify;
    padding: 30px;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(128, 122, 122),white 50%);
    background-size: 100% 200%;
    transition: all .8s;
}
.choose:hover {
    background-position: left bottom;
    color: black    ;
    border: none;
    box-shadow: 0 0 20px rgb(49, 48, 48);
}

.service h1{
    margin-top: 20px;
    text-align: center;
    font-size:40px;
    text-transform: capitalize;
}

.service {
margin-bottom: 200px;
margin-top: 150px;


}
.my_service{
    display: flex;
    justify-content:  space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: 100px;
    
    
    /* margin-left:100px ;
    width: 100%; */
    /* padding: 10px; */
    /* display: grid; */
    /* grid-template-columns: repeat(3,1fr);
    grid-column-gap: 10px; */
}
.min_service{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    align-items: center;
    text-align: justify;
    padding: 30px;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(255,45,45),white 50%);
    background-size: 100% 200%;
    transition: all .8s;
}
.min_service:hover{
    background-position: left bottom;
    color: black    ;
    border: none;
    box-shadow: 0 0 20px rgb(255,45,45);
}
.min_service img{
    width: 80px;
    height: 80px;

}
/* footer */
footer{
    
    color: #000;
    padding: 50px;
    height: 300px;
    width: 100%;
    background-color: rgb(28, 28, 48);
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.links{
    width: 50%;
}
.links li{
    margin: 20px;
    list-style:none ;

    
}
.links li a{
    text-decoration: none;
    color:#fff;
    font-size: 20px;
}
.contact{
    overflow: hidden;
    width:50%;
    /* margin-right: -200px; */
     
}
.contact .info{ 
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    
}

.info #place{
    font-size: 25px;
   
}
.suggestion{
    display: flex;
    flex-direction: column;
}
.suggestion input{
    width: 50%;
    height: 30px;
    margin-top: 5px;
}
.suggestion button{
    width: 100px;
    margin-top: 5px;
    padding: 8px;
    color: #fff;
    background-color: transparent ;
    border-radius: 5px;
}
.suggestion button:hover{
    background-color: rgb(78, 58, 58);
    cursor: pointer;
    color: #000;
    transition: 0.4s;
    
}
